  <div class="breadcrumbs-v3 img-v1 text-center">
      <div class="container">
          <h1>Support Your Dream</h1>
          <p>Portál pre financovanie vašich nápadov</p>
      </div>
  </div>
    <div class="container content-sm">
      <div class="title-v1 no-margin-bottom">
          <p class="no-margin-bottom">Support <strong>Your</strong> Dream je nová platforma, ktorá slúži na podporu charitatívnych a iných spoločensky dôležitých projektov, ako aj dobrých nápadov, ktorým chýbajú financie. 
 <br>
          Platforma zároveň umožňuje investovať do projektov, ktoré sa Vám páčia. .</p>
      </div>
  </div>
    <div class="service-block-v4">
      <div class="container content-sm">
          <div class="row">
              <div class="col-md-4 service-desc md-margin-bottom-50">
                  <i class="fa fa-file-text-o"></i>
                  <h3>Príprava</h3>
                  <p class="no-margin-bottom">Aby bol projekt úspešný, je nutné venovať príprave viac času ako sa zdá. Náš tím ti s projektom veľmi rád pomôže.<br> Tvoj úspech je aj náš úspech </p>
              </div>
              <div class="col-md-4 service-desc md-margin-bottom-50">
                  <i class="fa fa-play"></i>
                  <h3>Uverejnenie</h3>
                  <p class="no-margin-bottom">Keď už je projekt medzi ľuďmi, treba ho dobre spropagovať a aj tu ti vieme pomôcť.</p>
              </div>
              <div class="col-md-4 service-desc md-margin-bottom-50">
                  <i class="fa fa-rocket"></i>
                  <h3>Realizácia</h3>
                  <p class="no-margin-bottom">Ak bude tvoj projekt úspešný a podarí sa vyzbierať dosť peňazí, máš otvorené dvere ku realizácii svojho sna. </p>
              </div>
          </div><!--/end row-->
      </div><!--/end container-->
  </div>