    	<div class="row">
            <div class="col-md-9">
    			<!-- General Questions -->
                <div class="headline"><h2>Otázky o projektoch</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    1. Mám nápad na projekt, ako dostanem svoju myšlienku na tento portál?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                               	Svoju myšlienku (Váš autorský nápad určený na finančnú podporu) môžete jednoducho umiestniť na náš portál vyplnením krátkeho dotazníka, ktorý sa nám automaticky odošle na náš kontaktný e-mail. Po spracovaní Vašej žiadosti Vás budeme kontaktovať o pridaní projektu na náš portál. Následne Vám odporúčame propagovať Váš projekt v kruhu Vašich známych, aby sa o ňom dozvedelo čo najviac ľudí a aby mal čo najväčšiu možnosť na splnenie vyzbierania cieľovej sumy.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    2. Kde nájdem formulár na pridávanie projektov?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Formulár na pridávanie jednotlivých projektov sa nachádza na úvodnej stránke, po kliknutí na ikonku „Založ vlastný projekt“
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    3.	Musí byť formulár vyplnený kompletne?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Áno, formulár na pridávanie projektov musí byť vyplnený kompletne. Formulár obsahuje základné informácie o Vás, Vašej spoločnosti a stručný popis celej myšlienky. Jediné políčko, ktoré nemusí byť vyplnené je „Názov spoločnosti“, keďže nápady na projekty nám posielajú i jednotlivci, fyzické osoby, ktoré nemajú vlastnú spoločnosť.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    4.	Môžem vymyslieť, napísať a podať aj viac projektov?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Áno, projektov môžete podať aj viac, musia byť však kvalitné.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    5.	Čo sa stane s vyplneným formulárom, kto ho po odoslaní dostane?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Kompletne vyplnený formulár po odoslaní obdržíme my na náš kontaktný e-mail. Podľa Vašich odpovedí vypracujeme na našom portáli profil projektu, ktorý Vám najprv pošleme na schválenie. 
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    6.	Nezneužije niekto môj nápad, moju myšlienku vo svoj prospech?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                               Nie, Váš nápad nikto nezneužije. V prípade nejasností Vášho zámeru Vás budeme kontaktovať a celý projekt si spoločne prejdeme a navrhneme Vám riešenie.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    7.	Koľko trvá zápis môjho nápadu po riadne vyplnenom a odoslanom formulári na portál?
                                 </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Zápis projektu na náš portál trvá približne týždeň, pričom počas celej doby zápisu budeme spolu v kontakte.
                            </div>
                        </div>
                    </div>
                    

                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    8.	Budete ma informovať o zverejnení môjho projektu na portáli?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                Áno, počas celej doby zápisu budeme spolu v kontakte a finálny zápis projektu Vám oznámime a pošleme Vám i jeho finálny link, aby ste hneď mohli začať svoj projekt propagovať minimálne medzi svojimi známymi.
                            </div>
                        </div>
                    </div>

                     <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                    9.	Koľko trvá kampaň na zber finančnej pomoci jedného projektu?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                Kampaň na jeden projekt je obvykle stanovená na 2 mesiace, výnimočne na mesiace 3
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                                    10.	Ako môžem na vybraný projekt prispieť?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Na projekt môžete prispieť veľmi jednoducho. Pri každom projekte je napísané číslo účtu daného projektu. Systém Vám vygeneruje variabilný symbol, ktorý zadáte pri platbe, aby sme vedeli identifikovať, kto a na aký projekt prispel. Na základe Vašej platby a uvedenia variabilného symbolu systém pripočíta daný finančný príspevok a na stránke projektu sa aktuálne vyzbieraná čiastka automaticky navýši.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                                    11.	Aká je minimálna výška finančného príspevku na jeden projekt?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Minimálna výška finančného príspevku je pri každom projekte iná. Keďže každý projekt vymyslel niekto iný, sám si určuje cieľovú sumu, ktorú by rád vyzbieral, taktiež si sám určí jednotlivé „cenové hladiny“ a odmeny, ktoré budú pri danom projekte zobrazené. 
								Navrhované sumy formou prispievania sú stanovené nasledovne:
								5, 10, 20, 50, 100, 150, 200, 300, 500, 750, 1000, 1500, 2000, 4000, 5000, 7500, 10000 a 15000€
								Prispieť môžete aj inou sumou, ako je pri danom projekte uvedené, napr. sumou 624€.

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
                                    12.	Môžem na vybraný projekt prispievať aj pravidelne?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nie, na projekt sa pravidelne prispievať nedá, keďže doba trvania verejnej zbierky je stanovená na 2, výnimočne na 3 mesiace. 

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
                                    13.  Kedy je projekt úspešný? 
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                Úspešný projekt je ten, na ktorý sa podarí vyzbierať cieľovú a vyššiu sumu, ako je autorom projektu v úvode zadaná. Takýto projekt je označovaný ako úspešný. Ostatné projekty, ktorým sa nepodarí vyzbierať cieľovú a vyššiu sumu, ako je v úvode zadaná autorom projektu sú označované ako neúspešné. Kampaň na zbieranie finančných prostriedkov je stanovená na 2, výnimočne na 3 mesiace. 

                            </div>
                        </div>
                    </div>

                </div><!--/acc-v1-->
                <!-- End General Questions -->

    			<!-- Other Questions -->
                <div class="headline"><h2>Ostatné otázky</h2></div>
                <div class="panel-group acc-v1" id="accordion-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                                    Kto získa vyzbierané finančné prostriedky?  
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-One" class="panel-collapse collapse in">
                            <div class="panel-body">
                                
                                   Vyzbierané finančné prostriedky získa autor projektu. 
                              
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
                                    Aké percento si strhávate a prečo?  
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Two" class="panel-collapse collapse">
                            <div class="panel-body">
                                
                                    Z úspešného projektu, resp. z vyzbieranej sumy, ktorá môže byť vyššia, ako je v úvode zadaná cieľová suma autorom projektu si účtujeme odmenu vo výške 7% ako náhradu na prevádzku portálu, tvorbu a prípravu samotnej zbierky.
                                    
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Three">
                                    Kedy približne dostanem svoju odmenu domov?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Three" class="panel-collapse collapse">
                            <div class="panel-body">
                                Jednotlivé odmeny posielajú priamo vyhlasovatelia danej finančnej zbierky. Zvyčajne po oficiálnom skončení zbierky, pri úspešnom projekte je vyzbieraná suma prevedená autorovi projektu na jeho účet. Následne autor projektu dá vyrobiť v príslušných množstvách odmeny pre svojich prispievateľov a do 2 mesiacov od oficiálneho ukončenia zbierky autor pošle tieto odmeny. Výnimku tvorí napríklad natočené video s osobným poďakovaním autora svojim prispievateľom – kde sa musí najprv uskutočniť projekt. 
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Four">
                                    Môžem na jednotlivých projektoch pomáhať aj iným spôsobom ako finančným?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Four" class="panel-collapse collapse">
                            <div class="panel-body">
                                Áno, určite sa dá na väčšine projektov pomáhať aj nefinančným spôsobom. Stačí osloviť autora projektu, prípadne nás a informácie o podpore Vám radi pošleme.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Five">
                                    Môžem sa zapojiť do šírenia myšlienky tohto portálu? Ako?
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-Five" class="panel-collapse collapse">
                            <div class="panel-body">
                                Áno, do šírenia a podpory myšlienky nášho portálu sa môžete zapojiť, či už lajkom na našom Facebook profile, sledovaní noviniek, šírenia myšlienky, alebo priamo poskytnutím finančným darom k projektu, ktorý Vás osloví. Ďakujeme. 
                            </div>
                        </div>
                    </div>
                </div><!--/acc-v1-->
                <!-- End Other Questions -->
    		</div><!--/col-md-9-->

    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Kontakt</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>Riazanská 46, 831 03  Bratislava</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>mail@help4people.sk</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>111 222 333</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.help4people.sk</a></li>
                </ul>
                <!-- End Contacts -->

            	<!-- Social -->
                <div class="magazine-sb-social margin-bottom-20">
                    <div class="headline headline-md"><h2>Sociálne siete</h2></div>
                    <ul class="social-icons social-icons-color">
                        <!--<li><a href="#" data-original-title="Feed" class="social_rss"></a></li>-->
                        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                        <!--<li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>-->
                        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                        <!--<li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Dropbox" class="social_dropbox"></a></li>
                        <li><a href="#" data-original-title="Picasa" class="social_picasa"></a></li>
                        <li><a href="#" data-original-title="Spotify" class="social_spotify"></a></li>
                        <li><a href="#" data-original-title="Jolicloud" class="social_jolicloud"></a></li>
                        <li><a href="#" data-original-title="Wordpress" class="social_wordpress"></a></li>
                        <li><a href="#" data-original-title="Github" class="social_github"></a></li>
                        <li><a href="#" data-original-title="Xing" class="social_xing"></a></li>-->
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Social -->
            </div><!--/col-md-3-->
        </div><!--/row-->