<div class="row" style="padding-top:100px; padding-bottom:100px">
<center><h4> Tvoj účet bol úspešne vytvorený. Prosím potvrď tvoju registráciu kliknutím na link, ktorý ti prišiel na email zadaný pri registrácii</h4></center>
</div>