<p>Ahoj/Hello <%= @project.user.name %></p>

<p> Tvoj projekt <strong><%= @project.name %></strong> bol schválený adminom a naštartovaný.</p>
</br>
<p> Tvůj projekt  <strong><%= @project.name %></strong> byl schválen a nastartován adminem.</p>
</br>
<p> Your Project  <strong><%= @project.name %></strong> was approved and started by admin.</p>

<p> SupportYourDream team </p>