<p>Ahoj/Hello <%= @project.user.name %></p>

<p> Tvoj projekt <strong><%= @project.name %></strong> bol vrátený adminom na prepracovanie.</p>
</br>
<p> Tvůj projekt  <strong><%= @project.name %></strong> byl vráceno adminem k přepracování.</p>
</br>
<p> Your Project <strong><%= @project.name %></strong> has been sent by admin to rewrite.</p>

<p> SupportYourDream team </p>