<!--=== Footer Version 1 ===-->
<div class="footer-default">
    <div class="footer">
        <div class="container">
            <div class="row">
                    <!-- About -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2>No Borders in V4</h2></div>
                     <!--   <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>-->
                        <p><%= t('footer.target1') %> <a href="http://www.nobordersinv4.eu/">No borders in V4</a> <%= t('footer.target2') %></p>
                        
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                   <!-- <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2014</small>
                                </li>
                                <li>
                                    <a href="#">Best shoots</a>
                                    <small>June 23, 2014</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2014</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2><%= t('footer.partners') %></h2></div>
                        <ul class="list-unstyled link-list">
                             <li><a href="http://www.nobordersinv4.eu/">No borders in V4</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://www.help4people.sk">HELP 4 PEOPLE</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://www.eycb.eu">Evropské centrum mládeže Břeclav</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://www.semperavanti.org">Semper Avanti</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://www.vmkik.hu">VAS MEGYEI KERESKEDELMI ÉS IPARKAMARA</a><i class="fa fa-angle-right"></i></li>
                            
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-4 map-img md-margin-bottom-40">
                        <div class="headline"><h2><%= t('footer.contactus') %></h2></div>
                        <address class="md-margin-bottom-40">
                            občianske združenie  <br />
                            HELP 4 PEOPLE <br />
                            Riazanská 46 <br />
                            831 03  Bratislava <br />
                            Email: <a href="mailto:info@help4people.sk" class="">info@help4people.sk</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                    <div class="col-md-6">
                        <p>
                            2016 &copy; All Rights Reserved.
                           <a href="#">clickmedia s.r.o.</a> 
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
        </div>
    </div><!--/copyright-->
</div><!--/footer-v1-->
<!--=== End Footer Version 1 ===-->