 <!--=== Slider ===-->
  <div class="slider-inner">
    <div id="da-slider" class="da-slider">
      <div class="da-slide ">
        <h2><i >SUPPORT YOUR DREAM</i> <!--<br /> <i >SVOJE SNY</i> <br />--></h2>
        <p><a href="/project_terms" style="text-decoration:none; color: #fff; font-size: 30px" class="btn-u btn-u-yellow">ZAČNI TU</a> <br /> </p>
        <div class="da-img"><img  src="<%= asset_path( 'deti.jpg' ) %>" alt="" style="max-width:500px; width:100%; margin-top:-60px"></div>
      </div>
      <div class="da-slide">
        <h2><i >Projekt vznikol</i> <br /> <i  >za pomoci</i> <br /> <i >Visegrad Fund</i></h2>
        <!--<p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>-->
        <div class="da-img">
         <img src="<%= asset_path( 'visegrad_fund.png' ) %>" alt="image01" style="max-width:500px; width:100%; margin-top:-60px" />
        </div>
      </div>
      <div class="da-slide">
        <h2><i >TENTO PROJEKT</i> <br /> <i >POUŽÍVA JAZYKY</i> <br /> <i >VIŠEGRÁDSKEJ SKUPINY</i></h2>
       <!-- <p><i >Lorem ipsum dolor amet</i> <br /> <i >tempor incididunt ut</i> <br /> <i >veniam omnis </i></p>-->
        <div class="da-img"><img src="<%= asset_path( '2000px-Visegrad_group_countries.png' ) %>" alt="image01" style="max-width:500px; width:100%; margin-top:-60px" /></div>
      </div>
      <div class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
      </div>
    </div>
  </div><!--/slider-->
  <!--=== End Slider ===-->